body {
    background-image:
        linear-gradient(
            rgba(255, 248, 240, 0.42),
            rgba(255, 248, 240, 0.42)
        ),
        url("bg_image.jpg");

    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}